<template>
    <div>
        <div class="row">
            <h5>Evaluators</h5>
            <div class="col-12">
                <table class="table table-sm form-group w-100">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Approver</th>
                    </tr>
                    <tr v-for="(item, index) in rowData" :key="index">
                        <td v-on:click="removeItem(index)" v-model="item.id">
                            <i class="icon-fa icon-fa-trash"/>
                        </td>
                        <td>
                            {{ item.public_id }}
                        </td>
                        <td>
                            <select v-on:change="onSelect($event)"
                                    :name="`evaluators[${index}][id]`"
                                    value=""
                                    :id="index"
                                    :key="`${index}select`"
                                    v-model="rowData[index].option" class="form-control">
                                <option v-for="optionItem in optionItems" :value="optionItem.id" :key="optionItem.id">
                                    {{ optionItem.title }}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input  v-on:change="onCheckboxChange($event)"
                                    type="checkbox"
                                    :name="`evaluators[${index}][approver]`"
                                    :id="index"
                                    :key="`${index}approver`"
                                    v-model="rowData[index].approver"
                                    class="form-control"></input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=6>
                            <button type="button" v-on:click="addItem" class="btn btn-secondary">Add new row</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
  import dataHandlingMixins from '../mixins/dataHandling.js'
  export default {
    mixins: [dataHandlingMixins],
    props: {
      'templateDataModel': {
        type: String,
        default: 'evaluators'
      },
      'tableId': {
        type: String,
        default: ''
      },
      'id': {
        type: String,
        default: ''
      }
    },
    data: function() {
      return {
        currentIdCounter: 0,
        optionItems: [],
        rowData: []
      }
    },
    methods: {
      onSelect (event) {
        var index = event.target.id
        this.rowData[index].option = event.target.value
      },
      onCheckboxChange(event) {
        var index = event.target.id
        this.rowData[index].approver = event.target.value
      },
      addItem () {
        this.currentIdCounter++
        var newRow = {
          id: this.currentIdCounter,
          title: null,
          approver: false,
          option: 0,
          public_id: this.currentIdCounter
        }
        this.rowData.push(newRow)
      },
      removeItem (index) {
        this.rowData.splice(index, 1);
      },
      warmData() {
        var evaluators = project_data['evaluators']
        for(var i=0; i < evaluators.length; i++) {
          this.currentIdCounter += 1
          this.rowData.push({
            id: evaluators[i].id,
            approver: evaluators[i].approver,
            option: evaluators[i].id,
            public_id: this.currentIdCounter
          })
        }
      }
    },
    created () {
      this.optionItems = template_data['data'][this.$props.templateDataModel]
      this.warmData()
    }
  }
</script>
