input:disabled {
  border: 2px solid rgba(239, 239, 239, 0.3);
}
.input-disabled-blue {
  background-color: lightblue !important;
}

.guideline-pill {
  border-radius: 25px;
}
.guideline-pill-white {
  padding-top: 25px;
  border-radius: 35px;
  border: 2px solid black;
}
.guideline-pill-green {
  padding-top: 25px;
  border-radius: 35px;
  background-color: yellowgreen;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  border: 2px solid green;
  position: relative;
}

.guideline-pill-blue {
  padding: 20px;
  border-radius: 25px;
  padding-top: 25px;
  background-color: lightskyblue;
  color: white;
  margin-bottom: 10px;
}

.guideline-pill-lightblue {
  padding: 20px;
  border-radius: 25px;
  padding-top: 25px;
  background-color: lightblue;
  margin-bottom: 10px;
}

.guideline-pill-white-info {
  padding: 20px;
  border-radius: 25px;
  padding-top: 25px;
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid black;
}

.guideline-pill-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.guideline-pill-content-for-orange-pill {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  width: 60%;
}

.guideline-pill-content-for-orange-pill-list {
  background-color: #fbd9cb;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.guideline-pill-grey {
  background-color: dimgrey;
  color: #eeeeee;
  border-radius: 60px;
  margin: 10px 50px 10px 50px;
  text-align: center;
}

.guideline-pill-orange {
  background-color: orange;
  font-weight: bold;
  color: white;
  height: 125px;
  border: 1px solid darkorange;
  border-radius: 15px;
}

.border-dashed {
  border: 2px dashed red;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  display: block;
}

.br-theme-bars-horizontal .br-widget a {
  height: 28px !important;
  width: 150px;
}

.construction-database {
  border: 1px solid black;
  margin-top: 100px
}

.br-current-rating {
  display: none !important;
}

.disabled-button {
  border: 0px;
  cursor: hand;
  cursor: pointer;
  background-color: transparent;
  width: 185px;
  overflow: hidden;
  height: 21px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: left;
}

.grand-total-table-td {
  text-align: right;
  white-space: nowrap;
  width: 1%
}

.btn-verify {
  background-color: green;
  color: white;
  width: 70px;
  text-align: center;
}
.btn-verified {
  background-color: white;
  color: limegreen;
  width: 70px;
  text-align: center;
}

.btn-upload-pdf {
  color: white;
  background-color: cornflowerblue;
  width: 110px;
  text-align: center;
}

.btn-download-pdf {
  color: black;
  background-color: yellow;
  width: 110px;
  text-align: center;
}